@{
    ViewBag.Title = "Home Page";
}



<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themesecondary">
                            <div class="databox-piechart">
                                <div><span class="white font-90">Account</span></div>
                                <div class="white font-90">Balances</div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span id="acc" style="font-size: xx-large; margin: 10px;" class="databox-number themesecondary">$28,000</span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themethirdcolor">
                            <div class="databox-piechart">
                                <div><span class="white font-90">Monthly</span></div>
                                <div class="white font-90">Expenses</div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span id="exp" style="font-size: xx-large; margin: 10px;" class="databox-number themethirdcolor">$10,000</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themeprimary">
                            <div class="databox-piechart">
                                <div><span class="white font-90">Monthly</span></div>
                                <div class="white font-90">Budget</div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span id="bud" style="font-size: xx-large; margin: 10px;" class="databox-number themeprimary">$15,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    


        <!-----Table-->

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption"> Recent Transactions</span>
                    </div>
                    <div class="widget-body">

                        @Html.Action("_RecentTransactions")
                    </div>
                </div>
            </div>
        </div>

        <!---End Table-->
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div id="chart1">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div id="chart2">

                </div>
            </div>

        </div>

    </div>


@section scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        $(document).ready(function () {
            $.post('@Url.Action("GetChart", "Home")').then(function (response) {
                console.log(response.totalExpense);
                console.log(response);
                $('#exp').text('$' + response.totalExpense);
                $('#bud').text('$' + response.totalBudget);
                $('#acc').text('$' + response.totalAcc);
                new Morris.Bar({
                    // ID of the element in which to draw the chart.
                    element: 'chart1',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: response.bar,
                    // The name of the data record attribute that contains x-values.
                    xkey: 'Name',
                    // A list of names of data record attributes that contain y-values.
                    ykeys: ['Actual', 'Budgeted'],
                    // Labels for the ykeys -- will be displayed when you hover over the
                    // chart.
                    labels: ['Expenses to Date', 'Amount Budgeted'],
                    resize: true
                });
                new Morris.Donut({
                    element: 'chart2',
                    data: response.donut,
                    //label: 'Name',
                    //value: 'Value',
                    resize: true
                });
            })
        })
    </script>
}


               
