@{
    ViewBag.Title = "Home Page";
}

<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            Register
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>A/c Balances</h1>
        </div>
    <div class="col-md-6">
        <h1>Budget Vs Spending</h1>
    </div>
    </div>
    <div class="row">
        <div><h1>Transactions</h1></div>
    </div>







</div>